@model Learning_Management_System.Models.ENTITIES.Faculty

<h2>Edit Faculty</h2>

<form method="post">
    <input type="hidden" asp-for="FacultyId" />

    <div class="mb-3">
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Department</label>
        <input asp-for="Department" class="form-control" />
    </div>

    <button class="btn btn-primary">Update</button>
</form>
